.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF8C00;
  padding: 10px;
}


.contentLinks{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 10px;
};





/* -------------------------------------------- */



/* 
.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF8C00;
  padding: 10px;
} */



/* .logo {
  font-weight: bold;
  font-size: 22px;
} */

/* .links {
  display: flex;
  align-items: center;
  gap: 20px;
} */

/* .logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  } */












