

.adminContainer{
  background-color: blueviolet;
  min-height: 660px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.adminContent{
  color: rgb(17, 210, 46);
  padding: 50px;
  text-align: center;
}









